@charset "utf-8";
/* CSS Document */
* {
  padding: 0px;
  margin: 0px;
  font-family: "Arial", "Microsoft YaHei", "微软雅黑", "宋体";
}
html * {
  max-height: 1000000px;
}
html,
body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  /*font: normal normal 14px/150% Arial, Helvetica, sans-serif;*/
  background-color: #ffffff;
  font-size: 62.5%;
}
/***********通用基本类1************/
/*格式化样式*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td,
a {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
article,
aside,
dialog,
footer,
header,
section,
footer,
nav,
figure,
menu {
  display: block;
}
button,
input,
optgroup,
select,
textarea,
p,
i {
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
  color: inherit;
  margin: 0;
}
textarea {
  resize: none;
}
a {
  cursor: pointer;
  color: #333;
}
/*css定义超链接四个状态是有顺序的。*/
a:link,
a:visited {
  text-decoration: none;
}
a:hover,
a:active {
  text-decoration: underline;
  border: none;
}
/*以上语句分别定义了"链接、已访问过的链接、鼠标停在上方时、点下鼠标时"的样式。
注意，必须按以上顺序写，否则显示可能和你预想的不一样。记住它们的顺序是“LVHA”。*/
.zoom {
  zoom: 1;
}
img {
  border: 0;
}
.text {
  word-wrap: break-word;
  overflow: hidden;
  word-break: break-all;
}
.vmdis {
  display: table-cell;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
}
.mt10 {
  margin-top: 10px;
}
.mt60 {
  margin-top: 60px;
}
.ml20 {
  margin-left: 20px;
}
.mb10 {
  margin-bottom: 10px;
}
.pl10 {
  padding-left: 10px;
}
input[type="checkbox"] {
  font-size: 0px;
  padding: 0px;
  margin: 0px;
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
/*万能float闭合1*/
.clear {
  clear: both;
}
.hidden {
  display: none;
}
.hide {
  display: none;
}
.detail-doc-title {
  margin-left: 10px;
}
/*万能float闭合2*/
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  zoom: 1;
}
/*万能float闭合3*/
.clear-zoom {
  height: 0px;
  clear: both;
  font-size: 0px;
  line-height: 0px;
  zoom: 1;
}
/*万能float闭合4*/
.clear-block {
  zoom: 1;
  display: block;
}
.equal-height {
  /*控制背景溢出*/
  margin-bottom: -32800px;
  padding-bottom: 32800px;
}
/*CSS Hack*/
.holder {
  /*CSS盒子内容部分垂直居中*/
  width: 200px;
  height: 100px;
  border: 1px solid #777;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
/*以下样式针对IE*/
.edge {
  width: 0;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
.class {
  background-color: #FFFF00;
  /*所有浏览器*/
  *background-color: #00FF00;
  /*IE6,IE7*/
  _background-color: #00FFFF;
  /*IE6*/
}
/* CSS Document */
a:link,
a:visited {
  text-decoration: none;
}
a:hover,
a:active {
  text-decoration: none;
  border: none;
}
header {
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 2.6em;
  text-align: center;
  background-color: #1B9BFF;
  color: #fff;
  position: fixed;
  top: 0;
  z-index: 999;
}
header .header-l {
  position: absolute;
  left: 0;
}
header .header-m {
  text-align: center;
  font-size: 17px;
}
header .header-r {
  position: absolute;
  top: 0;
  right: 0;
}
.wrap {
  width: 100%;
  font-size: 10px;
  position: relative;
  top: 50px;
}
.wrap .banner {
  position: relative;
}
.wrap .banner img {
  min-width: 320px;
  height: 160px;
  border: none;
}
.wrap .banner .modal {
  width: 100%;
  height: 48px;
  background: url(../common/img/banner_mask.png);
  position: absolute;
  bottom: 0;
  padding: 0 13px;
  box-sizing: border-box;
}
.wrap .banner .modal p {
  color: #fff;
  font-size: 1.7rem;
  position: absolute;
  bottom: 7px;
}
.wrap .banner .banner-title {
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  text-indent: 1.2em;
  text-align: left;
}
.wrap .banner .banner-title h5 {
  color: #fff;
  font-weight: normal;
  font-size: 1.8em;
}
.space-width {
  width: 3%;
  height: 75px;
  float: left;
}
.icon-1 {
  background-image: url("../img/zryh/icon-1.png");
  right: 5px;
  bottom: 0;
  opacity: 0.2;
}
.icon-2 {
  background-image: url("../img/zryh/icon-2.png");
  background-size: 100% 100%;
  right: 5px;
  bottom: 0;
}
.icon-3 {
  background-image: url("../img/zryh/icon-3.png");
  right: 5px;
  bottom: 0;
}
.icon-4 {
  background-image: url("../img/zryh/icon-4.png");
  right: 5px;
  bottom: 0;
}
.icon-5 {
  background-image: url("../img/zryh/icon-5.png");
  right: 5px;
  height: 36px;
  bottom: 0;
}
.icon-6 {
  background-image: url("../img/sdph/icon-6.png");
  right: 5px;
  bottom: 0;
}
.btn-back {
  width: 55px;
  height: 50px;
  display: inline-block;
  background-image: url("../common/img/icon/icon-arrow.png");
  background-size: 100% 100%;
}
.btn-back-standard {
  width: 55px;
  height: 50px;
  display: inline-block;
  background-image: url("../common/img/icon/icon-arrow-standard.png");
  background-size: 100% 100%;
}
.btn-enter {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url("../common/img/icon/icon-arrow-standard.png");
  transform: rotate(180deg);
  background-size: 100% 100%;
}
footer {
  width: 100%;
  height: 38px;
  display: block;
  margin-top: 50px;
  background-color: #ececec;
}
footer .outlink {
  line-height: 38px;
  font-size: 1.3rem;
  color: #7e7e7e;
  text-align: center;
}
footer .outlink a {
  color: #0a7fec;
}
.banner {
  background-size: 100% 100%;
  position: relative;
}
.banner img {
  width: 100%;
  height: 160px;
  display: block;
}
.container {
  width: 100%;
  overflow: hidden;
  font-size: 10px;
  background: #ececec;
}
.container .content {
  padding-left: 13px;
  padding-right: 13px;
}
.container .content h5 {
  font-weight: normal;
  width: 100%;
  line-height: 40px;
  display: inline-block;
}
.container .content h5 .vertical {
  width: 15%;
  display: inline-block;
  width: 3px;
  height: 1.5rem;
  margin-right: 6px;
  border-radius: 1px;
  line-height: 1.5rem;
  background-color: #0a7fec;
  vertical-align: middle;
}
.container .content h5 .tips {
  width: 80%;
  display: inline-block;
  line-height: 40px;
  color: #0a7fec;
  font-size: 1.5rem;
  vertical-align: middle;
}
.container .content .item {
  height: 60px;
  padding: 10px;
  border: 1px solid #dfdfdf;
  background: #fff;
  margin-bottom: 5px;
  position: relative;
}
.container .content .item .avatar {
  width: 80px;
  height: 60px;
  float: left;
}
.container .content .item .avatar img {
  width: 100%;
  height: 100%;
}
.container .content .item .detail {
  padding-left: 15px;
  padding-right: 5px;
  overflow: hidden;
}
.container .content .item .detail .region {
  font-size: 1.9rem;
  color: #404040;
  line-height: 35px;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.container .content .item .detail .address {
  font-size: 1.5rem;
  color: #808080;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.container .content .item .readMore {
  display: inline-block;
  top: 30px;
  width: 15px;
  height: 15px;
  background: url(../common/img/qingyi/icon.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  right: 5px;
  position: absolute;
  opacity: 0.5;
}
