@charset "utf-8";
/* CSS Document */
* {
  padding: 0px;
  margin: 0px;
  font-family: "Arial", "Microsoft YaHei", "微软雅黑", "宋体";
}
html * {
  max-height: 1000000px;
}
html,
body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  /*font: normal normal 14px/150% Arial, Helvetica, sans-serif;*/
  background-color: #ffffff;
  font-size: 62.5%;
}
/***********通用基本类1************/
/*格式化样式*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td,
a {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
article,
aside,
dialog,
footer,
header,
section,
footer,
nav,
figure,
menu {
  display: block;
}
button,
input,
optgroup,
select,
textarea,
p,
i {
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
  color: inherit;
  margin: 0;
}
textarea {
  resize: none;
}
a {
  cursor: pointer;
  color: #333;
}
/*css定义超链接四个状态是有顺序的。*/
a:link,
a:visited {
  text-decoration: none;
}
a:hover,
a:active {
  text-decoration: underline;
  border: none;
}
/*以上语句分别定义了"链接、已访问过的链接、鼠标停在上方时、点下鼠标时"的样式。
注意，必须按以上顺序写，否则显示可能和你预想的不一样。记住它们的顺序是“LVHA”。*/
.zoom {
  zoom: 1;
}
img {
  border: 0;
}
.text {
  word-wrap: break-word;
  overflow: hidden;
  word-break: break-all;
}
.vmdis {
  display: table-cell;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
}
.mt10 {
  margin-top: 10px;
}
.mt60 {
  margin-top: 60px;
}
.ml20 {
  margin-left: 20px;
}
.mb10 {
  margin-bottom: 10px;
}
.pl10 {
  padding-left: 10px;
}
input[type="checkbox"] {
  font-size: 0px;
  padding: 0px;
  margin: 0px;
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
/*万能float闭合1*/
.clear {
  clear: both;
}
.hidden {
  display: none;
}
.hide {
  display: none;
}
.detail-doc-title {
  margin-left: 10px;
}
/*万能float闭合2*/
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  zoom: 1;
}
/*万能float闭合3*/
.clear-zoom {
  height: 0px;
  clear: both;
  font-size: 0px;
  line-height: 0px;
  zoom: 1;
}
/*万能float闭合4*/
.clear-block {
  zoom: 1;
  display: block;
}
.equal-height {
  /*控制背景溢出*/
  margin-bottom: -32800px;
  padding-bottom: 32800px;
}
/*CSS Hack*/
.holder {
  /*CSS盒子内容部分垂直居中*/
  width: 200px;
  height: 100px;
  border: 1px solid #777;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
/*以下样式针对IE*/
.edge {
  width: 0;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
.class {
  background-color: #FFFF00;
  /*所有浏览器*/
  *background-color: #00FF00;
  /*IE6,IE7*/
  _background-color: #00FFFF;
  /*IE6*/
}
/* CSS Document */
a:link,
a:visited {
  text-decoration: none;
}
a:hover,
a:active {
  text-decoration: none;
  border: none;
}
header {
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 2.6em;
  text-align: center;
  background-color: #1B9BFF;
  color: #fff;
  position: fixed;
  top: 0;
  z-index: 999;
}
header .header-l {
  position: absolute;
  left: 0;
}
header .header-m {
  text-align: center;
  font-size: 17px;
}
header .header-r {
  position: absolute;
  top: 0;
  right: 0;
}
.wrap {
  width: 100%;
  font-size: 10px;
  position: relative;
  top: 50px;
}
.wrap .banner {
  position: relative;
}
.wrap .banner img {
  min-width: 320px;
  height: 160px;
  border: none;
}
.wrap .banner .modal {
  width: 100%;
  height: 48px;
  background: url(../common/img/banner_mask.png);
  position: absolute;
  bottom: 0;
  padding: 0 13px;
  box-sizing: border-box;
}
.wrap .banner .modal p {
  color: #fff;
  font-size: 1.7rem;
  position: absolute;
  bottom: 7px;
}
.wrap .banner .banner-title {
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  text-indent: 1.2em;
  text-align: left;
}
.wrap .banner .banner-title h5 {
  color: #fff;
  font-weight: normal;
  font-size: 1.8em;
}
.space-width {
  width: 3%;
  height: 75px;
  float: left;
}
.icon-1 {
  background-image: url("../img/zryh/icon-1.png");
  right: 5px;
  bottom: 0;
  opacity: 0.2;
}
.icon-2 {
  background-image: url("../img/zryh/icon-2.png");
  background-size: 100% 100%;
  right: 5px;
  bottom: 0;
}
.icon-3 {
  background-image: url("../img/zryh/icon-3.png");
  right: 5px;
  bottom: 0;
}
.icon-4 {
  background-image: url("../img/zryh/icon-4.png");
  right: 5px;
  bottom: 0;
}
.icon-5 {
  background-image: url("../img/zryh/icon-5.png");
  right: 5px;
  height: 36px;
  bottom: 0;
}
.icon-6 {
  background-image: url("../img/sdph/icon-6.png");
  right: 5px;
  bottom: 0;
}
.btn-back {
  width: 55px;
  height: 50px;
  display: inline-block;
  background-image: url("../common/img/icon/icon-arrow.png");
  background-size: 100% 100%;
}
.btn-back-standard {
  width: 55px;
  height: 50px;
  display: inline-block;
  background-image: url("../common/img/icon/icon-arrow-standard.png");
  background-size: 100% 100%;
}
.btn-enter {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url("../common/img/icon/icon-arrow-standard.png");
  transform: rotate(180deg);
  background-size: 100% 100%;
}
footer {
  width: 100%;
  height: 38px;
  display: block;
  margin-top: 50px;
  background-color: #ececec;
}
footer .outlink {
  line-height: 38px;
  font-size: 1.3rem;
  color: #7e7e7e;
  text-align: center;
}
footer .outlink a {
  color: #0a7fec;
}
.home #photo {
  width: 100%;
  height: 160px;
  overflow: hidden;
  position: relative;
}
.home #photo .pic-view {
  height: 100%;
  display: -webkit-box;
  display: box;
  overflow: hidden;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 1;
}
.home #photo .pic-view.show {
  opacity: 1;
}
.home #photo .pic-view li {
  position: absolute;
  height: 100%;
  display: box;
  display: -webkit-box;
  text-align: center;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  overflow: hidden;
}
.home #photo .pic-view img {
  width: 100% !important;
}
.home #photo .pic-view li a {
  display: block;
  vertical-align: middle;
}
.home #photo .pic-view li a img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}
.home .pagination {
  width: 20%;
  right: 13px;
  bottom: 10px;
  text-align: right;
  position: absolute;
  -webkit-transition: 300ms;
  transition: 300ms;
  z-index: 10;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.home .pagination span {
  width: 2px;
  height: 2px;
  display: inline-block;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  opacity: .8;
  margin: 0 3px;
  background: #fff;
}
.home .pagination span.active {
  background-color: #fff;
  height: 3px;
  width: 3px;
  opacity: 1;
}
.wrap {
  width: 100%;
  overflow: hidden;
  font-size: 10px;
}
.wrap .container {
  width: 100%;
  padding: 0px;
  margin: 0px;
  background-color: #fff;
  display: block;
}
.wrap .container .box {
  width: 100%;
  display: block;
}
.wrap .container .box .box-con {
  width: 100%;
  display: block;
}
.wrap .container .box .box-con li {
  float: left;
  width: 33.333%;
  height: 120px;
  line-height: 120px;
  text-align: center;
  box-sizing: border-box;
  border-right: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
}
.wrap .container .box .box-con li a {
  text-decoration: none;
  display: block;
}
.wrap .container .box .box-con li a dd {
  width: 120px;
  height: 60px;
  margin: 12px auto 8px;
  text-align: center;
}
.wrap .container .box .box-con li a dd img {
  width: 60px;
  height: 60px;
}
.wrap .container .box .box-con li a h5 {
  width: 120px;
  heighy: 15px;
  color: #333;
  text-align: center;
  line-height: 15px;
  margin: 0px auto;
  font-weight: normal;
  font-size: 15px;
}
.linkxiao {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url("../common/img/icon/icon-enter.png");
}
